/* This CSS File is cool */

body {
    font-family: "Roboto", "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body>* {
    flex-shrink: 0;
}


/* Global Styles */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.nav-bar {
    background-color: #D32F2F;
    color: white;
    padding: 24px;
    padding-top: 1px;
    padding-bottom: 1px!important;
    height: 100px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #d32f2f 0%, #f46600 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #d32f2f 0%, #f46600 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #d32f2f 0%, #f46600 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f46600', GradientType=1);
    /* IE6-9 */
}

.deploy-bar {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #d32f2f 0%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #d32f2f 0%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #d32f2f 0%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
    /* IE6-9 */
}

.finalize-bar {
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #4b29b2 0%, #49003b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #4b29b2 0%, #49003b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #4b29b2 0%, #49003b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#49003b', GradientType=1);
    /* IE6-9 */
}

.recieve-bar {}

.nav-bar .nav-title {
    font-size: 25px;
    font-weight: 100;
}

.nav-bar .sub-nav-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5;
}
.nav-bar .nav-title-main {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5;
}


.inner-wrapper {
    width: 100%;
    margin: 0 auto;
}


/* Roles */

.roles {
    text-align: left;
    margin-left: 35px;
}

.roles .role {
    font-size: 22px;
    font-weight: 400;
    border-bottom: 2px solid #FF4081;
    padding-bottom: 1px;
    margin-right: 25px;
}

.roles .role-title {
    font-size: 18px;
    font-weight: 300;
}


/* Forms */

.inner-wrapper form {
    text-align: center;
}

.inner-wrapper form ul {
    list-style: none;
    padding: 12px;
    margin: 0 auto;
}

.inner-wrapper form ul li {
    padding: 12px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 12px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.label {
    font-size: 18px;
    width: 100%;
    display: block;
    margin-right: 10px;
    text-align: left;
    margin-left: 35px;
    color: #212121;
}

.text-input {
    font-size: 24px;
    width: 80%;
    text-align: left;
    padding: 12px;
    padding-top: 2px;
    border: none;
    border-bottom: 2px solid #FF4081;
    padding-left: 4px;
    transition: color 0.25s;
}

*:focus {
    outline: none;
}

.text-input:focus, .select-input:focus{
    border: none;
    transition: color 0.25s;
    border-bottom: 2px solid #49003b;
}
.select-input {
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #FF4081;
    background-color: transparent;
    width: 80%;
    padding: 12px;
    padding: 2px;
    margin-bottom: 12px;
    border-radius: 0;
}

.too-tall {
    margin-bottom: 15px!important;
}


/* Button */

.submit {
    color: #fff;
    background-color: #F44336;
    text-align: center;
    border-radius: 2px;
    height: 55px;
    width: 101%;
    position: absolute;
    bottom: 0px;
    left: -2px;
    right: 0;
    text-transform: uppercase;
    font-size: 16px;
    border: none!important;
}

.export {
    color: #fff;
    background-color: #1e5799;
    text-align: center;
    border-radius: 2px;
    height: 55px;
    width: 101%;
    position: absolute;
    bottom: 0px;
    left: -2px;
    right: 0;
    text-transform: uppercase;
    font-size: 16px;
    border: none!important;
}

.small {
    width: 120px!important;
    position: relative!important;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: block;
}

.round {
    color: transparent;
    background-color: #F44336;
    text-align: center;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    float: right;
    position: relative;
    margin-top: -30px;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.link{
    text-decoration: none;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px!important;
    text-transform: none!important;
    font-size: 20px;

}


/* Icons */


/* font-awesome, eat your heart out */

.ic {
    background-color: #fff;
    -webkit-mask-size: cover;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    display: block;
}

.home {
    -webkit-mask-image: url("../svg/home.svg");
}

.add {
    -webkit-mask-image: url("../svg/add.svg");
}


/* Switch */


/* Thanks to http://callmenick.com/post/css-toggle-switch-examples */

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round+label {
    padding: 2px;
    width: 60px;
    height: 20px;
    flex-grow: 2;
    background-color: #dddddd;
    border-radius: 60px;
}

input.cmn-toggle-round+label:before,
input.cmn-toggle-round+label:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: background 0.4s;
}

input.cmn-toggle-round+label:after {
    width: 30px;
    background-color: #fff;
    border-radius: 100%;
    height: 30px;
    top: -5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked+label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round:checked+label:after {
    margin-left: 20px;
}

.switch {
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
}