<div class="inner-wrapper" style="padding: 25px;">
    <h1>API Usage:</h1>
    <h2>Image:</h2>
    <pre>curl --data "serial=$serial" http://$url/api/image</pre>
    <h3>Returns:</h3>
    <pre>{"image-name":"standard/teacher"}</pre>
    <h2>Hostname:</h2>
    <pre>curl --data "serial=$serial" http://$url/api/hostname</pre>
    <h3>Returns:</h3>
    <pre>{"image-name":"standard/teacher"}</pre>
    <a href="/">Home</a>
</div>