<!-- Navigation Bar -->
<div class="nav-bar <%= bar_class %>">
    <a href="<% if defined?(link) %><%= link %><% else %>/<% end %>" class="button round"><i class="ic back large"></i></a>
    <h1 class="nav-title">
        <%= title %>
    </h1>
</div>