<!-- 
  Refactored by Keaton
  May 12th, 2017
  welcome/login.html.erb
  View which displays a login view.
-->


<!-- Renders alternative navigation bar -->
<%= render "shared/alt_nav"%>

<!-- Displays a login message and div -->
<div class="welcome-wrapper">
    <h1 class="welcome-text-header">Welcome</h1>
    <p class="welcome-text">Login to get started!</p>
    <%= render "shared/login"%>
</div>