<!-- 
  May 17th, 2017
  admin_tools/index.html.erb
  A view which displays the admin tools
-->

<!-- Renders alternative navigation bar -->
<%= render "shared/nav", title: "Settings", bar_class: "def" %>


<% content_for :javascript_includes do %>
  <%= javascript_include_tag "admin_tools.js" %>
<% end %>

<a class="rainbow-toggle" onclick="toggleRainbow()"></a>

<!-- Table with user profile and table of actions -->
<% if current_user.try(:admin?) %>
    <div class="inner-wrapper" id="space-bottom">
        <div class="button-grid">
            <a class="button square first" href="/roles">
                <div class="rounded-button"><i class="roles ic ic-list"></i></div><span class="list-text">Roles</span></a>
            <a class="button square" href="/schools">
                <div class="rounded-button"><i class="school ic ic-list"></i></div><span class="list-text">Schools</span></a>
            <a class="button square last" href="/status">
                <div class="rounded-button"><i class="status ic ic-list"></i></div><span class="list-text">Overview</span></a>
        </div>
    </div>
    <% end %>
        <% if current_user.try(:supervisor?) %>
            <div class="inner-wrapper">
                <div class="button-grid">
                    <a class="button square first" href="/mark_doa">
                        <div class="rounded-button"><i class="roles ic ic-list"></i></div><span class="list-text">Mark DOA</span></a>
                         <a class="button square last" href="/racks">
                <div class="rounded-button"><i class="rack ic ic-list"></i></div><span class="list-text">Racks</span></a>
                </div>
            </div>
            <% end %>
