<%= render "shared/nav", title: "Unbox", bar_class: "def" %>
<div class="inner-wrapper">
            <form>
                <ul class="too-tall">
                    <li>
                        <label class="serial label">School</label>
                        <div>
                            <select name="role" class="role select-input">
                            <option>South Park Elem.</option>
                            <option>White Sta. Elem.</option>
                        </select>
                        </div>
                    </li>
                    <li>
                        <div class="roles">
                            <h1 class="role-title">Quantities:</h1>
                            <h2 class="role">Student: 10/200</h2>
                            <h2 class="role">Teacher: 7/100</h2>
                        </div>
                    </li>
                    <li>
                        <label class="serial label">Serial</label>
                        <input id="input" type="text" name="serial" class="serial text-input" placeholder="48AS69KL12AD">
                    </li>

                </ul>
                <button type="submit" class="button submit small">Submit</button>
            </form>
        </div>
    </div>