      <%= render "shared/nav", title: "Unbox Unit", bar_class: "deploy-bar" %>
        <div class="inner-wrapper">
            <form>
                <ul class="too-tall">
                    <li>
                        <label class="label">Rack #</label>
                        <div>
                            <select name="rack" class="rack-assign select-input">
                            <option>3-3-1</option>
                            <option>3-3-2</option>`
                            <option>3-3-3</option>
                            <option>3-3-4</option>
                        </select>
                        </div>
                    </li>
                    <li>
                        <div class="roles">
                            <h1 class="role-title">Expected Quantities:</h1>
                            <h2 class="role">Student: 200</h2>
                            <h2 class="role">Teacher: 100</h2>
                        </div>
                    </li>
                </ul>
                <button type="csv" class="button small export">Export CSV</button>
                <button type="submit" class="button submit small">Pull</button>
            </form>
        </div>
