<!-- 
  Refactored by Keaton
  May 12th, 2017
  api/index.html.erb
  Just a basic usage description for the API endpoints
-->
<div class="inner-wrapper" style="padding: 25px;">
  <h1>API Usage:</h1>
  <h2>Image:</h2>
  <pre>curl --data "serial=$serial" http://$url/api/image</pre>
  <h3>Returns:</h3>
  <pre>{"image-name":"standard/teacher"}</pre>
  <h2>Hostname:</h2>
  <pre>curl --data "serial=$serial" http://$url/api/hostname</pre>
  <h3>Returns:</h3>
  <pre>{"image-name":"standard/teacher"}</pre>
  <h2>Deploy:</h2>
  <pre>curl --data "serial=$serial&key=$key" http://$url/api/deploy</pre>
  <h3>Returns:</h3>
  <pre>{"message" : "Deployed successfully"}</pre>
  <pre>chrome://flags/#disable-gesture-requirement-for-media-playback</pre>
  <a href="/">Home</a>
</div>