<div class="nav-bar">
    <h1 class="nav-title-main">Heat</h1>
</div>
<a class="button submit small link" href="receive.html">Receive Unit</a>
<a class="button submit small link" href="school.html">Unbox Unit</a>
<a class="button submit small link" href="rack.html">Rack for Deploy</a>
<a class="button submit small link" href="deploy.html">Deploy Units</a>
<a class="button submit small link" href="finalize.html">Finalize Deployment</a>