<div class="nav-bar">
    <h1 class="nav-title-main">Heat</h1>
</div>
<div class="button-grid">
    <a class="button square" href="/receive"><i class="receive ic ic-list"></i>Receive</a>
    <a class="button square" href="/school"><i class="unbox ic ic-list"></i>Unbox</a>
    <a class="button square" href="/rack"><i class="rack ic ic-list"></i>Rack</a>
    <a class="button square" href="/deploy"><i class="deploy ic ic-list"></i>Deploy</a>
    <a class="button square" href="/finalize"><i class="finalize ic ic-list"></i>Finalize</a>
</div>