<div class="nav-bar">
    <h1 class="nav-title-main">Heat</h1>
</div>
<div class="inner-wrapper">
    <div class="button-grid">
        <a class="button square" href="/roles"><i class="roles ic ic-list"></i>Roles</a>
        <a class="button square" href="/schools"><i class="school ic ic-list"></i>Schools</a>
        <a class="button square last" href="/status"><i class="status ic ic-list"></i>Overview</a>
        <i class="separator"></i>
        <a class="button square first" href="/receive"><i class="receive ic ic-list"></i>Receive</a>
        <a class="button square" href="/school"><i class="unbox ic ic-list"></i>Unbox</a>
        <a class="button square" href="/rack"><i class="rack ic ic-list"></i>Rack</a>
        <a class="button square" href="/deploy"><i class="deploy ic ic-list"></i>Deploy</a>
        <a class="button square last" href="/finalize"><i class="finalize ic ic-list"></i>Finalize</a>
    </div>
</div>