/* font-awesome, eat your heart out */

.ic {
    background-color: #fff;
    -webkit-mask-size: cover;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    display: block;
}


/* Icons */

.school,
.schools {
    -webkit-mask-image: image-url("school.svg");
    background-color: gray;
}

.home {
    -webkit-mask-image: image-url("home.svg");
    background-color: gray;
}

.roles {
    -webkit-mask-image: image-url("roles.svg");
    background-color: gray;
}

.add {
    -webkit-mask-image: image-url("add.svg");
    background-color: gray;
}

.back {
    -webkit-mask-image: image-url("back.svg");
    background-color: #fff;
}

.receive {
    -webkit-mask-image: image-url("receive.svg");
    background-color: gray;
}

.unbox {
    -webkit-mask-image: image-url("unbox.svg");
    background-color: gray;
}

.rack {
    -webkit-mask-image: image-url("rack.svg");
    background-color: gray;
}

.deploy {
    -webkit-mask-image: image-url("deploy.svg");
    background-color: gray;
}

.finalize {
    -webkit-mask-image: image-url("finalize.svg");
    background-color: gray;
}

.exit {
    -webkit-mask-image: image-url("exit.svg");
    background-color: #da2727;
    margin-bottom: 12px;
}

.status,
.overview {
    -webkit-mask-image: image-url("status.svg");
    background-color: gray;
}

.close {
    -webkit-mask-image: image-url("close.svg");
}


/* Colors */

.white-icon {
    background-color: #fff!important;
}

.red-icon {
    background-color: #e83838;
}


/* Positions */

.right-icon {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 60px;
}

.ic-list {
    margin-left: 20px;
}


/* Sizes */

.large {
    height: 40px;
    width: 40px;
}