.roles-form td {
    padding: 12px;
}

.roles-form tr {
    text-align: left;
}

.roles-form tr:nth-child(1) th {
    padding: 12px;
    font-weight: 100;
    font-size: 18px;
    border-bottom: 2px solid gray;
}

.switch {
    height: 28px;
}

.specs-ram,
.specs-hdd {
    margin-bottom: 10px;
    width: 93%;
}

.roles-form-table {
    padding-top: 20px;
    border-top: 2px solid gray;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}