// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-wrapper {
    height: 200px!important;
    border-bottom: none!important;
}

.user .user-image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 3px;
    border: 4px solid #da2727;
}

.user .user-name {
    font-size: 18px;
    font-weight: 100;
}

.user .user-logout {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
.list-text{
        margin-right: auto;
    margin-left: 10px;
}