// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-form {
    width: 90%;
}

.wrapper-section-title {
    padding: 25px;
    font-weight: 100;
    border-bottom: 2px solid gray;
}

.wrapper-section-data {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}