/* Switch */

/* Thanks to http://callmenick.com/post/css-toggle-switch-examples */

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 57px;
  max-width: 50px;
  height: 18px;
  flex-grow: 2;
  background-color: #dddddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 30px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  height: 30px;
  top: -5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 22px;
}

.switch {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 25px;
}

.switch-label {
  max-width: 58px;
}

/* Button */

.button {
  height: 45px;
  display: inline-block;
  padding: 10px 1.2em;
  border: 0.1em solid #55baff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  -webkit-appearance: none;
  background-color: transparent;
  -moz-appearance: none;
  appearance: none;
  color: #55baff;
  transition: all 420ms cubic-bezier(.165, .84, .44, 1);
}

.button-submit {
  background-color: #55baff;
  border: none !important;
  color: white;
}

.button-round {
  color: transparent;
  text-align: center;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 16px;
}

.rounded-button {
  width: 50px;
  height: 50px;
  display: flex;
  padding: -10px;
  justify-content: space-around;
  align-items: center;
  /* justify-content: center; */
  background-color: gray;
  border-radius: 100%;
}

.link {
  text-decoration: none;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 200px !important;
  text-transform: none !important;
  font-size: 20px;
}

.button-square {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 2px;
  height: auto;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  text-decoration: none;
  font-weight: 100;
  padding-right: 20px;
  border-bottom: 2px solid #EEEEEE;
}

.last {
  border: none;
  padding-bottom: 10px;
}

.first {
  padding-top: 20px;
}

.button-centered {
  margin: 0 auto;
}

.button:disabled {
  border: 2px solid lightgrey !important;
  color: gray;
}

input[type="submit"]:disabled {
  background-color: rgba(128, 128, 128, 0.42);
}

.separator {
  width: 100%;
  height: 30px;
  padding: 0;
  margin-left: -50px;
  padding-right: 80px;
  background-color: #EEEEEE;
}

.button-table {
  margin: 10px;
}

#no-data {
  text-align: center;
  color: lightgrey;
}

/* Messages */

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow-y: hidden;
  max-height: 180px;
  height: 100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.message.closed {
  max-height: 0;
}

.message h1 {
  font-weight: 100;
}

.message-dismiss {
  border: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  background-color: #f13838;
}

/* Modal button */

.modal-button {
  width: 150px;
  height: 40px;
  display: flex;
  text-align: center;
  font-size: 25px;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #f46600;
  border: 2px solid #f46600;
}

.modal-button:hover {
  color: #f13838;
  border-color: #f13838;
}

.alert,
.notice {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #68a2d4;
  color: white;
  padding: 22px;
  text-align: center;
  width: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.success {
  background-color: #5ebd5e;
}

.error {
  background-color: #f13838cc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 200;
  max-height: 100%;
  padding: 0 !important;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}