.welcome-wrapper {
    font-size: 14px;
    max-width: 750px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 40px;
}

.error-welcome {
    color: #d32f2f;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}

.welcome {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 1px;
    padding-bottom: 1px!important;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: white;
    height: 100px;
    font-style: italic;
    font-weight: 100;
    /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #d32f2f 0%, #f46600 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1e5799 0%, #d32f2f 0%, #f46600 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%, #d32f2f 0%, #f46600 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f46600', GradientType=1);
    /* IE6-9 */
}

.welcome-text {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

.login-link {
    margin: 0 auto;
}

.welcome-text-header {
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    padding: 24px;
}